<!DOCTYPE html>
<html lang="en">
<head>
  <title>Remocle - Timezone Visualizer</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{site.description}}">
  <meta name="keywords" content="Remocle, Timezone"/>

  <meta property="og:title" content="{{site.title}}">
  <meta property="og:site_name" content="{{site.title}}">
  <meta property="og:url" content="https://www.remocle.com">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.remocle.com/images/open-graph.jpg">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://remocle.com",
      "name": "Remocle",
      "sameAs": [
        "https://play.google.com/store/apps/details?id=com.dundinstudio.remocle",
        "https://apps.apple.com/us/app/id1522259532https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.jshttps://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      ]
    }
  </script>
</head>
<body>
<header id="mainHeader">
  <div class="container">
    <div class="company-name">
      <a href="/">
        <span class="dark-logo"><img width="104" height="38" src="/images/logo/dark.svg" alt="Remocle logo"></span>
        <span class="light-logo"><img width="104" height="38" src="/images/logo/light.svg" alt="Remocle logo"></span>
      </a>
    </div>
  </div>
</header>
{{ content }}
<footer>
  <div class="container">
    <p class="copyright">
      © DUNDIN STUDIO
    </p>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>